.home
  .trial-box
    .target
      .target__top
        %h4 ターゲット文
        .target__top__speed
          %h4 読み上げスピード:
          %select#speed-selector.target__top__speed__selector
            - (5..20).each do |s|
              %option{:value=>s/10.to_f, :selected => s == 10}
                = s/10.to_f
      %textarea.target__textarea#target-text
        I make lots of money. On weekdays, I recieve an average of 50 orders a day.
      .target__fixed-text#fixed-text
        I make lots of money. On weekdays, I recieve an average of 50 orders a day.
      .target__bottom
        .target__bottom__left
          %button#edit-btn.btn
            edit
          %button#set-btn.btn
            set
          %button#refresh-btn.btn
            refresh
        .target__bottom__right
          %button#speech-btn.btn
            speech
    .recognized
      %h4 認識文
      .recognized__textarea#recognized-text
        I make lot of money. On weekdays, I recieved an average of 50 orders a day.
      .recognized__bottom
        %button#rec-btn.btn
          rec
        %button#stop-btn.btn
          stop
        %button#compare-btn.btn
          compare