* {
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: relative;

  &__left {
    h1 {
      font-size: 32px;
      line-height: 40px;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  &__right {
    position: absolute;
    bottom: 20px;
    right: 50px;
    display: flex;
    justify-content: right;

    &__link {
      padding-left: 20px;
      color: white;
      font-size: 18px;
      &:hover {
        color: white;
      }
      &:active {
        color: lightgrey;
      }
    }
  }
}

main {
  min-height: calc(100vh - 215px);
}

.footer {
  margin-top: 10px;
  padding: 20px 10px;
  background-color: lightgrey;
  width: 100%;
  &__box {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;

    &__left {
      h2 {
        font-size: 20px;
        margin-bottom: 5px;;
      }
      &__links {
        margin-top: 10px;
        &__link {
          margin-right: 10px;
        }
      }
    }
    &__right {
      &__links {
        &__link {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  
  &__bottom {
    margin-top: 10px;
    text-align: center;
    color: darkgrey;
  }
}