.new-lesson {
  background-color: white;
  width: 100%;
}

.lesson-container {
  background-color: #f5f5f5;
  width: 1150px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  .lesson-container__left {
    .target {
      width: 800px;
      &__top {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        h4 {
        color: darkblue;
        display: inline;
        }
        &__speed {
          &__selector {
            font-size:12px;
            border:1px;
          }
        }
      }
      &__textarea {
        padding: 10px 20px;
        height: 200px;
        line-height: 30px;
        font-size: 16px;
        height: 160px;
        width: 800px;
        border: 1px solid black;
        resize: none;
        display: none;
      }
      &__fixed-text {
        border: 1px solid black;
        margin-bottom: 5px;
        background-color: lightgrey;
        padding: 10px 20px;
        height: 160px;
        line-height: 30px;
        font-size: 16px;
        height: 200;
        width: 800px;
      }
      &__bottom {
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
      }
    }

    .recognized {
      h4 {
        color: darkblue;
      }
      margin-top: 30px;
      &__textarea {
        margin-top: 5px;
        padding: 10px 20px;
        height: 200px;
        line-height: 30px;
        font-size: 16px;
        height: 160px;
        width: 800px;
        background-color: white;
        border: 1px solid black;
      }
      &__bottom {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        &__left {

        }
        &__right {
        display: flex;
        justify-content: right;
        .recognition {
          padding-right: 10px;
        }
        }
      }
    }

    .controller {
      height: 40px;
      padding-top: 5px;
    }

    .btn {
      border: 0;
      background-color: white;
      color: darkblue;
      font-size: 20px;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
      
      &:active {
          background-color: lightslategray;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }
        &:focus {
          outline: 0;
        }
    }
  }
  .lesson-container__right {
    border: 1px solid gray;
    margin-left: 20px;
    width: 300px;
    padding: 5px;
    position: relative;
    
    .words-container {
      height: 100%;
      &__top {

      }
      &__mid {
      }
      &__bot {
        position: absolute;
        right: 5px;
        bottom: 5px;

        .word-input {
          height: 35px;
          width: 185px;
          background-color: white;
          display: inline;
        }
      }
    }
  }

  .words-table {
    border-collapse: separate;
    border-spacing: 3px;
    
    .missed-word {
      line-height: 25px;
      height: 25px;
      width: 220px;
      background-color: white;
    }
  }
  .icon {
      background-color: white;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      color: darkblue;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
        &:active {
          background-color: lightslategray;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }
        &:focus {
          outline: 0;
        }
    }
  .word-icon {
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}