.new-lesson {
  background-color: white;
  width: 100%;
}

.reviews {
  width: 1150px;
  margin: 10px auto;
  h4 {
    color: darkblue;
  }
  .review {
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 3px;
    width: 300px;
  }
}

.lesson-container {
  h4 {
    color: darkblue;
  }
  background-color: #f5f5f5;
  width: 1150px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  .lesson-container__left {
    .target {
      width: 800px;
      &__top {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        h4 {
        display: inline;
        }
        &__speed {
          &__selector {
            font-size:12px;
            border:1px;
          }
        }
      }
      &__textarea {
        padding: 10px 20px;
        height: 200px;
        line-height: 30px;
        font-size: 16px;
        height: 160px;
        width: 800px;
        border: 1px solid black;
        resize: none;
      }
      &__fixed-text {
        border: 1px solid black;
        margin-bottom: 5px;
        background-color: lightgrey;
        padding: 10px 20px;
        height: 160px;
        line-height: 30px;
        font-size: 16px;
        height: 200;
        width: 800px;
        display: none;
      }
      &__bottom {
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
      }
    }

    .recognized {
      margin-top: 30px;
      &__top {
        display: flex;
        justify-content: space-between;
        &__right {
          display: flex;
          justify-content: right;
        }
      }
      &__top {
        display: flex;
        justify-content: space-between;
      }
      &__textarea {
        margin-top: 5px;
        padding: 10px 20px;
        height: 200px;
        line-height: 30px;
        font-size: 16px;
        height: 160px;
        width: 800px;
        background-color: white;
        border: 1px solid black;
      }
      &__bottom {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        &__left {

        }
        &__right {
        display: flex;
        justify-content: right;
        .btn {
            margin-left: 10px;
            a {
              text-decoration: none;
            }
        }
        .recognition {
          padding-right: 10px;
        }
        }
      }
    }

    .controller {
      height: 40px;
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      &__right{
        a {
          text-decoration: none;
        }
      }
    }

    .btn {
      border: 0;
      background-color: white;
      color: darkblue;
      font-size: 20px;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
      
      &:active {
          background-color: lightslategray;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }
        &:focus {
          outline: 0;
        }
    }
  }
  .lesson-container__right {
    border: 1px solid gray;
    margin-left: 20px;
    width: 300px;
    padding: 5px;
    position: relative;
    
    .words-container {
      height: 500px;
      &__top {
        display: flex;
        justify-content: space-between;

        #remove-all-btn {
          color: red;
          font-size: 14px;
          border: 0;
          background-color: inherit;
          padding: 0;
        }
      }
      &__mid {
        margin-top: 5px;
        height: 430px;
        overflow-y: scroll;
      }
      &__bot {
        position: absolute;
        right: 5px;
        bottom: 5px;

        .word-input {
          height: 35px;
          width: 185px;
          background-color: white;
          display: inline;
        }
      }
    }
  }

  .words-table {
    border-collapse: separate;
    border-spacing: 3px;
    
    .missed-word {
      line-height: 25px;
      height: 25px;
      width: 220px;
      background-color: white;
    }
  }
  .icon {
      background-color: white;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      color: darkblue;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
        &:active {
          background-color: lightslategray;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
        }
        &:focus {
          outline: 0;
        }
    }
  .word-icon {
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.lesson-note {
  width: 1130px;
  margin: 20px auto;
  h4 {
    color: darkblue;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .note-field {
    trix-editor {
      padding: 10px;
      min-height: 300px;
      font-size: 20px;
      line-height: 35px;
      h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: normal;
      }
      ul {
        padding-left: 30px;
      }
      ol {
        padding-left: 30px;
      }
    }
  }
  .note-html {
    border: 1px solid grey;
    min-height: 100px;
    padding: 30px;
    h1 {
      font-size: 35px;
      font-weight: normal;
    }
  }
}

.index {
  width: 80%;
  margin: 10px auto;
  .empty {
    text-align: center;
  }
  ul {
    li {
      list-style-type: none;
    }
  }
}