* {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  box-sizing: border-box;
}
.home {
  background-color: white;
  width: 100%;
}

.trial-box {
  background-color: blue;;
  width: 900px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid grey;

  .target {
    width: 840px;
    &__top {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      h4 {
       color: white;
       display: inline;
      }
      &__speed {
        &__selector {
          font-size:16px;
          border:1px;
        }
      }
    }
    &__textarea {
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 840px;
      border: 0;
      resize: none;
      display: none;
    }
    &__fixed-text {
      border: 1px s lightgrey;
      margin-bottom: 5px;
      background-color: lightgrey;
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 840px;
    }
    &__bottom {
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
    }
  }

  .recognized {
    h4 {
      color: white;
    }
    margin-top: 30px;
    &__textarea {
      margin-top: 5px;
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 840px;
      background-color: white;
      border: 1px solid black;
    }
    &__bottom {
      margin-top: 5px;
    }
  }

  .btn {
    border: 0;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    
    &:active {
        background-color: lightslategray;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
      &:focus {
        outline: 0;
      }
  }

  .icon {
    background-color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: darkblue;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
      &:active {
        background-color: lightslategray;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
      &:focus {
        outline: 0;
      }
  }
}