.home {
  background-color: white;
  width: 100%;
}

.trial-box {
  .target {
    width: 100%;
    &__top {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      h4 {
       display: inline;
      }
      &__speed {
        &__selector {
          font-size:16px;
          border:1px;
        }
      }
    }
    &__textarea {
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 100%;
      border: 0;
      resize: none;
      display: none;
    }
    &__fixed-text {
      border: 1px s lightgrey;
      margin-bottom: 5px;
      background-color: lightgrey;
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 100%;
    }
    &__bottom {
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
    }
  }

  .recognized {
    h4 {
    }
    margin-top: 30px;
    &__textarea {
      margin-top: 5px;
      padding: 10px 20px;
      height: 200px;
      line-height: 35px;
      font-size: 20px;
      height: 200;
      width: 100%;
      background-color: white;
      border: 1px solid black;
    }
    &__bottom {
      margin-top: 5px;
    }
  }

  .btn {
    border: 0;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    
    &:active {
        background-color: lightslategray;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
      &:focus {
        outline: 0;
      }
  }

  .icon {
    background-color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: darkblue;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
      &:active {
        background-color: lightslategray;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
      &:focus {
        outline: 0;
      }
  }
}